:root {
    --primary-1: #00171f;
    --primary-2: #ffffff;
    --secondary-1: #003459;
    --accent-1: #3f6c51;
    --accent-2: #00a8e8;
    /* --accent-3: #17bebb; */
    /* --accent-3: #0288E8; */
    --accent-3: rgb(211, 54, 54);
}

.container {
    display: flex;
    flex-wrap: wrap;
}
.container .game-title {
    flex: 0 0 100%;
    font-size: 2rem;
    display: flex;
    background-color: #041016;
    border-bottom: 2rem transparent solid;
    border-color: var(--primary-1);
}

.container .game-title span {
    display: block;
    border: 1rem solid transparent;
    border-left: 2rem solid transparent;
}
.container .board {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    position: relative;
}
.container .board .title {
    /* background-color: var(--secondary-1); */
    background-color: #cf0808;
    text-align: center;
    width: 70%;
    border-radius: 5px;
    font-size: 2em;
    flex: 0 0 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1rem solid transparent;
}

.board[data-id='2'] .title {
    background-color: #cf080847;
}

.container .board .grid {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(10, calc(100% / 10));
    grid-template-rows: repeat(10, calc(100% / 10));
    /* background-color: white; */
    width: 70%;
    background-color: var(--primary-1);
    border-radius: 5px;
}

.container .board .block {
    background-color: var(--accent-2);
    aspect-ratio: 1;
    /* border: 1px solid var(--secondary-1); */
    border-radius: 5px;
    border: 0.2rem solid var(--primary-1);
}

.container .board .block:hover {
    background-color: #0034599c;
}

.ship-yard-widget {
    align-self: center;
}

.container .board .ship-yard {
    width: 70%;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
}

.container .board .ship-yard .ship {
    display: flex;
}

.container .board .ship-yard .ship .ship-block {
    /* background-color: var(--block-color); */
    aspect-ratio: 1;
    flex: 0 0 auto;
    background-color: var(--accent-3);
    aspect-ratio: 1;
    /* border: 1px solid var(--secondary-1); */
    border-radius: 5px;
    border: 0.2rem solid var(--primary-1);
}

.ship-block-in-grid {
    background-color: var(--accent-3) !important;
    aspect-ratio: 1;
    flex: 0 0 auto;
    /* border: 2px solid black !important; */
}

.board[data-id='2'] .ship-block-in-grid {
    background-color: var(--accent-2) !important;
}

.board[data-id='2'] .ship-block-in-grid:hover {
    background-color: #0034599c !important;
}

.attacked-ship {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--accent-3) !important; */
    font-size: 2em;
    background-color: rgba(165, 42, 42, 0.308) !important;
}

.board[data-id='2'] .attacked-ship {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    /* background-color: var(--accent-3) !important; */
    background-color: rgba(165, 42, 42, 0.308) !important;
    pointer-events: none !important;
}

.bad-attack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black;
    background-color: black !important;
    /* background-color: black !important; */
}

.bad-attack:hover {
    pointer-events: none !important;
}

@media (max-width: 1200px) {
    /* // rules here apply to devices from 993px to 1200px (inclusive) */
    .container .board {
        width: 50%;
    }

    .container .board .grid {
        width: 90%;
    }

    .container .board .title {
        width: 90%;
    }

    .container .board .ship-yard {
        width: 90%;
    }
}
@media (max-width: 992px) {
    /* // rules here apply to devices from 769px to 992px (inclusive) */
}
@media (max-width: 768px) {
    /* // rules here apply to devices from 0px to 768px (inclusive) */
    .container .board .grid {
        width: 95%;
        border-radius: 2px;
    }
    .container .board .ship-yard {
        width: 95%;
    }
    .container .board .block {
        border-radius: 2px;
        border: 0.15rem solid var(--primary-1);
    }

    .container .board .ship-yard .ship .ship-block {
        border-radius: 2px;
        border: 0.15rem solid var(--primary-1);
    }
}

@media (max-width: 600px){
    /* .container .board .block {
        border: 0.1rem solid var(--primary-1);
    }

    .container .board .ship-yard .ship .ship-block {
        border: 0.1rem solid var(--primary-1);
    } */
}

@media (max-width: 576px) {
    .container .board {
        width: 100%;
        gap: 0.5rem;
    }

    .container .board .title {
        width: 50%;
        font-size: 1rem;
        border: none;
    }
    .container .board .grid {
        width: 50%;
    }

    .container .board .ship-yard {
        width: 50%;
        border-bottom: 1rem solid transparent;
    }
}

@media (max-width: 480px) {

    .container .board {
        width: 100%;
        gap: 0.5rem;
    }

    .container .board .title {
        width: 55%;
        font-size: 1rem;
        border: none;
    }
    .container .board .grid {
        width: 55%;
    }

    .container .board .ship-yard {
        width: 55%;
        border-bottom: 1rem solid transparent;
    }
}
