@import '~normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
:root {
    --blue-jeans: #35a7ffff;
    --rich-black-fogra-39: #02020aff;
    --red-salsa: #f93943ff;
    --white: #ffffffff;
    /* --block-color: #FFBA08; */
    /* --block-color: rgb(246, 17, 28); */
    --block-color: #8bc7ad;
    --color-1: #192a39;
    --color-2: #2d7d7d;
    --color-3: #8bc7ad;
    --color-4: #ebe4ca;
}

* {
    /* border: 1px solid white; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--rich-black-fogra-39);
    color: white;
    font-size: 62.5%;
    font-family: 'Lacquer', cursive;
}

.container {
    display: flex;
}
.container .status {
    align-self: center;
    font-size: 2rem;
    background-color: var(--color-1);
    border: 1px solid var(--color-2);
    padding: 0.5em; 
    border-radius: 5px; 
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.container .board {
    width: 100%;
    /* margin: 0 2% 0 2%; */
    display: flex;
    flex-direction: column;
}

.container .board .title {
    background-color: var(--color-2);
    color: var(--color-4);
    margin-bottom: 1%;
    margin-top: 1%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.8rem;
    width: 40%;
    align-self: center;
    min-height: 5%;
}

.container .board .grid {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    /* background-color: white; */
    width: 70%;
    background-color: var(--color-2);
    border-radius: 5px;
    padding: 5px;
    margin: 0;
}


/* .container .board[data-id = '2']{
    margin-right: auto;
} */

.container .board .grid[data-id='2'] .block:hover {
    cursor: url('./images/crosshair.png'), auto;
}

.container .board .grid[data-id='2'] .ship-block-in-grid:hover {
    cursor: url('./images/crosshair.png'), auto;
}

.container .board .grid[data-id='2'] .ai-ship:hover {
    cursor: url('./images/crosshair.png'), auto;
}

.container .board .block {
    background-color: var(--color-1);
    aspect-ratio: 1;
    border: 1px solid var(--color-3);
    border-radius: 2px;
}

.container .board .block:hover {
    background-color: #2d7d7d75;
}

.container .board .ship-yard {
    width: 70%;
    align-self: center;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.container .board .ship-yard .ship {
    flex: 0 0 0;
    display: flex;
    margin-left: 3%;
    margin-top: 2%;
}

.container .board .ship-yard .ship .ship-block {
    background-color: var(--block-color);
    aspect-ratio: 1;
    flex: 0 0 auto;
    border: 2px solid black;
}

.ship-block-in-grid {
    /* background-color: yellow !important;
  border: 2px solid yellow !important;  */
    /* border-radius: 0 !important; */
    background-color: var(--block-color) !important;
    aspect-ratio: 1;
    flex: 0 0 auto;
    /* border: 2px solid black !important; */
}

[draggable='true'] {
    cursor: move;
}

.attacked-ship {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    /* background-color: black !important; */
}

.bad-attack {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    /* background-color: black !important; */
}

.ai-ship {
    background-color: var(--color-1) !important;
}
.ai-ship:hover {
    background-color: #2d7d7d75 !important;
}

/* TEMPORARY */
.block-text {
    display: flex;
    justify-content: center;
    font-family: serif;
    align-items: center;
    font-size: 150%;
    padding: 0;
    /* font-size: 200%; */
    /* font-size: 1.2rem; */
}
